<div class="footer">
  <ul>
    <li>
      <a href="https://twitter.com/ConfidenceDev" target="_blank"
        ><img src="../../../assets/twitter.png"
      /></a>
    </li>
    <li>
      <a href="https://github.com/ConfidenceDev" target="_blank"
        ><img src="../../../assets/github.jpg"
      /></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/confidencedev/" target="_blank"
        ><img src="../../../assets/linkedin.png"
      /></a>
    </li>
    <li>
      <a href="mail:confidostic3@gmail.com" target="_blank"
        ><img src="../../../assets/mail.png"
      /></a>
    </li>
  </ul>
</div>
