nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--mb-2);
}

.title {
  font-size: var(--mb-6);
  font-weight: bold;
  color: white;
  text-align: center;
}
