<div class="grid cover">
  <div class="about">
    <label>Confidence Eze</label>
    <p class="details">
      Worked as a Backend Developer for 2 years, including internships,
      freelancing and personal projects. I've been a developer for over 3 years
      in several fields including Android, Web, Blockchain, and Desktop App
      Design.
      <br />
      <br />
      I enjoy tackling challenges and coming up with efficient and scalable
      solutions. I am fluent in using Java, and JavaScript (NodeJS). And I have
      had the opportunity to work with tools ranging from workflow tools
      (Docker, collaboration software, etc.) to development tools (Git, Linux)
      and frameworks (Spring/SpringBoot, Hibernate).
    </p>
    <div class="skills">
      <label>Skills</label>
      <ul>
        <li>Spring/SpringBoot</li>
        <li>NodeJS/ExpressJS</li>
        <li>Google Cloud/GCP</li>
        <li>MongoDB & PostgreSQL</li>
        <li>Docker & Kubernetes</li>
        <li>Kafka, Redis, Zipkin & Swagger</li>
        <li>Mongoose & Sequelize</li>
        <li>Angular</li>
        <li>Trello Management Tool</li>
        <li>And a few more...</li>
      </ul>
    </div>
  </div>
  <img src="../../../assets/me.png" alt="profile_img" class="profile_img" />
</div>
