<div class="grid">
  <div class="about">
    <label class="name">Confidence Eze</label>
    <p class="details">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsam maxime
      recusandae reprehenderit quis quas voluptas, itaque unde vitae, expedita
      consequuntur architecto voluptatem provident, repudiandae commodi
      asperiores ut eius amet. Id vitae esse ullam quisquam hic sed quia
      molestiae, illo quidem aliquam neque labore quam tenetur omnis, nostrum
      officiis fuga possimus consequuntur eligendi praesentium, minima totam
      asperiores voluptatum sequi. Maiores repellendus eveniet molestiae
      repudiandae aut placeat aspernatur laboriosam, natus deserunt explicabo
      ullam quibusdam nihil vero, ea impedit similique ipsam animi. Quaerat amet
      blanditiis maiores quod pariatur. Fugit, molestiae? Corrupti minima
      molestiae nostrum recusandae ipsum earum praesentium sequi provident,
      officia fugit?
    </p>
    <div class="skills">
      <ul>
        <li>1</li>
        <li>2</li>
      </ul>
    </div>
  </div>
  <img src="../../../assets/me.png" alt="profile_img" class="profile_img" />
</div>
